.one{
    background: azure;
    max-width: 100%;
    padding: 32px;

}
body
{
    background:#efffd0;
    margin-top: 300px;
    margin-left: 700px;
}
.userage-gender
{
    color: mediumpurple;
}
.userinfo
{
    color: mediumpurple;
}
.ed-ex
{
    color: mediumpurple;
}

span{color: mediumpurple}

.ed-ex option
{
    color: blue;
}
.favcol-pass
{
color: mediumpurple;
}
input
{
    color: blue;
    margin-top: 30px;
}
button
{
    background: aquamarine;
    color: darkmagenta;
}